#django settings
DJANGO_SECRET=DJANGO_SECRET
DEBUG=True
#postgres settings
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
#celery settings
CELERY_BROKER_CONNECTION_RETRY_ON_STARTUP=1
CHECK_FOR_NEW_POSTS_MINS=360 # how often blogs are checked for now posts
# obstracts settings
MAX_PAGE_SIZE=50 # max size of api response payload
DEFAULT_PAGE_SIZE=50 # default size of api response payload
CHECK_FOR_NEW_POSTS_MINS=600 # minutes to wait between cron job runs
# stix2arango settings
ARANGODB_HOST_URL="http://127.0.0.1:8529/"
ARANGODB_USERNAME=root
ARANGODB_PASSWORD=
# history4feed settings
HISTORY4FEED_URL='http://127.0.0.1:8002/'
# txt2stix settings
BIN_LIST_API_KEY= #[OPTIONAL] needed for extracting credit card information
OPENAI_API_KEY= #[OPTIONAL] needed if using AI relationship mode or AI extractions