#django settings
DJANGO_SECRET=DJANGO_SECRET
CELERY_BROKER_CONNECTION_RETRY_ON_STARTUP=1
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# txt2stix settings
BIN_LIST_API_KEY=...
OPENAI_API_KEY= # your openAI key usually starts with `sk-proj-`
# stix2arango settings
ARANGODB_HOST= # usually 127.0.0.1 or localhost (do not include https://)
ARANGODB_PORT= # If running locally usually `8529`
ARANGODB_USERNAME=root # the user/pass for Arango must has read/write privilidges to the `ARANGODB_DATABASE` specified
ARANGODB_PASSWORD=
ARANGODB_DATABASE= # this is the database you want to use to store Obstracts posts. Do not change once this is set.
ARANGODB_COLLECTION=obstracts
# history4feed settings
HISTORY4FEED_URL= # if running locally, usually `http://localhost:8000/`. Install history4feed by following the instructions here: https://github.com/muchdogesec/history4feed