services:
    env_django:
        image: obstracts
        extra_hosts:
            - "host.docker.internal:host-gateway"
        build: .
        volumes:
            - .:/usr/src/app/
        environment:
            - DJANGO_SETTINGS_MODULE=obstracts.settings
            - CELERY_BROKER_URL=redis://redis:6379/10
            - result_backend=redis://redis:6379/1
            - DEBUG=1
        env_file:
            - ./.env
        command: "python manage.py migrate"
    django:
        extends: env_django
        command: >
                bash -c "
                    python manage.py runserver 0.0.0.0:8001
                " 
        ports:
            - 8001:8001
        depends_on:
            - celery

    celery:
        extends: env_django
        command: >
                bash -c "
                  celery -A obstracts.cjob worker -l INFO
                  "
        depends_on:
            redis:
                condition: service_started
            env_django: 
                condition: service_completed_successfully
    redis:
        image: "redis:alpine"

volumes:
    pgdata:
