### generate requirements.txt with `pip-compile -o requirements.txt requirements.in pyproject.toml --upgrade`


## dogesec
history4feed @ https://github.com/muchdogesec/history4feed/releases/download/main-2025-06-24-15-23-40/history4feed-0.0.1rc0-py3-none-any.whl
file2txt @ https://github.com/muchdogesec/file2txt/releases/download/main-2025-06-23-07-12-53/file2txt-0.0.1b2-py3-none-any.whl
txt2stix @ https://github.com/muchdogesec/txt2stix/releases/download/main-2025-06-26-05-02-38/txt2stix-0.0.3rc0-py3-none-any.whl
dogesec_commons[stixifier] @ https://github.com/muchdogesec/dogesec_commons/releases/download/main-2025-06-26-05-07-25/dogesec_commons-0.0.7rc1-py3-none-any.whl
stix2arango @ https://github.com/muchdogesec/stix2arango/releases/download/main-2025-06-23-05-40-08/stix2arango-0.0.4rc0-py3-none-any.whl


## llms
llama-index-core
llama-index-llms-anthropic
llama-index-llms-openai
llama-index-llms-openrouter
llama-index-llms-gemini
llama-index-llms-deepseek

## production
gunicorn==23.0.0

